.hero-banner{
    &.forgotPassword{
        width: 100%;
        .hero-banner-container{
            margin: 10em auto 10em;
            @include bp('md'){
                margin-top: 14em;
            }
            form{
                input{
                    background: transparent;
                    margin: 0 auto 2.1em;
                    color: $black;
                    &::-webkit-input-placeholder {
                        color: $black;
                      }
                    &::-moz-placeholder {
                        color: $black;
                    }
                    &:-ms-input-placeholder {
                        color: $black;
                    }
                    &:-moz-placeholder {
                        color: $black;
                    }
                }
                .main-btn{
                    width: 84%;
                    max-width: 300px;
                    + p{
                        margin-top: 1.7em;
                        a{
                            color: $nblue;
                            font-weight: 500;
                        }
                        @include bp('md'){
                            margin-top: .7em;
                        }
                    }
                }
            }
            .errorMsg{
                color: $magenta;
                font-size: 14px;
                margin-bottom: 1em;
                position: relative;
                top: -1em;
                &.msgSuccess{
                    color: $blue;
                    a{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}