@include bp('md'){
    .question-template{
        header .main-header{
            justify-content: flex-end;
            .main-logo{
                display: none;
            }
        }
    }
}
.question{
    background-color: $gray;
    display: inline-block;
    background-image: url('../images/pattern.png');
    &-container{
        width: 87%;
        max-width: 1280px;
        padding: 7em 0 2.8em;
        margin: auto;
        .main-btn{
            width: 100%;
            &:first-of-type{
                margin-bottom: 1.4em;
            }
        }
    }
    &-progress{
        width: 100%;
        height: 5px;
        // background: $gray-dark;  
        position: relative;
        margin-bottom: 2.1em;
        border: .5px solid $dark-blue;;
        span{
            position: absolute;
            height: 100%;
            width: 20%;
            background: $green;
            left: 0;
            top: 0;
            transition: width .7s;
            &::before{
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 16px;
                height: 16px;
                background: $green;
                border-radius: 50%;
                border: .5px solid $dark-blue;
            }
        }
    }
    &-index{
        display: flex;
        justify-content: center;
        span{
            font-family: $Playfair;
            font-weight: 700;
            font-size: 60px;
            margin-right: 14%;
            line-height: 1;
        }
        img{
            width: 28%;
        }
    }
    &-title{
        // text-transform: uppercase;
        font-size: 17px;
        font-weight: 500;
        margin: 1.4em 0;
        font-weight: normal;
    }
    &-intro{
        font-style: italic;
    }
    .errorMsg{
        color: $magenta;
        font-size: 14px;
        text-align: center;
        display: block;
        position: relative;
        bottom: -2em;
    }
    .options{
        &-container{
            margin-top: 2.8em;
        }
        &-item{
            width: 100%;
            max-width: 340px;
            text-align: center;
            display: block;
            border: 1px solid lighten($gray-dark, 35%);
            border-radius: 4px;
            color: $black;
            font-family: $Montserrat;
            font-weight: 600;
            text-transform: uppercase;
            padding: 1.2em 3em 1.2em;
            outline: none;
            margin-bottom: 2.1em;
            position: relative;
            cursor: pointer;
            &::before{
                content: '';
                width: 24px;
                height: 24px;
                background: $gray;
                border: 6px solid transparent;
                position: absolute;
                border-radius: 50%;
                box-sizing: border-box;
                left: 12%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
            &::after{
                content: '';
                width: 24px;
                height: 24px;
                border: 1px solid lighten($gray-dark, 32%);
                position: absolute;
                border-radius: 50%;
                box-sizing: border-box;
                left: 12%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
            &.active{
                // color: $black;
                background: lighten($gray-dark, 46%);
                &::before{
                    background: $green;
                    border-color: $gray;
                    border-width: 5px;
                }
            }
        }
    }
    @include bp('md'){
        width: 100%;
        &-container{
            position: relative;
            min-height: 84vh;
            .main-btn{
                &:first-of-type{
                    margin: 0 2% 2.1em;
                }
            }
        }
        &-progress{
            max-width: 63%;
            position: relative;
            top: -3.2em;
            margin: auto;
            left: 0;
        }
        &-index{
            position: absolute;
            width: 100%;
            justify-content: space-between;
            img{
                max-width: 100px;
                position: absolute;
                top: -6.3em;
                left: 3%;
            }
            span{
                align-self: center;
                margin-left: calc(50% - 490px);
                font-size: 63px;
                margin-top: 5%;
            }
        }
        &-title{
            text-align: center;
            max-width: 800px;
            margin: 1.4em auto;
            font-size: 21px;
        }
        &-intro{
            font-size: 18px;
            text-align: center;
            max-width: 800px;
            margin: auto;
        }
        &-btns{
            display: flex;
            justify-content: center;
            flex-direction: row-reverse;
            .main-btn{
                margin: 0 2% 2.1em;
            }
        }
        .options{
            &-container{
                display: flex;
                justify-content: center;
                margin: 3.5em auto 2.8em;
                max-width: 770px;
                flex-wrap: wrap;
                &-item{
                    width: 100%;
                    max-width: 340px;
                    margin: 0 2% 2%;
                }
            }
            &-item{
                margin: 0;
            }
        }
    }
}