@include bp('md'){
    .results-template{
        header .main-header .second-logo{
            display: none;
        }
        header .main-header{
            justify-content: flex-start;
        }
    }
}

.hero-banner-chart{
    &.hero-banner{
        .hero-banner-content{
            margin-bottom: 4em;
            .main-title{
                padding: 0 1em;
            }
        }
        &-chart{
            .hero-banner-container{
                margin-bottom: 0;
                position: relative;
                .down-arrow{
                    display: none;
                }
            }
            .chart-container{
                width: 100vw;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                padding: 2.8em .7em;
                background-image: url('../images/chart-bg.jpg');
                .chart-info{
                    color: $white;
                    font-family: $Playfair;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    padding-bottom: 2em;
                    h3{
                        font-size: 16px;
                        margin: 0 auto 1.4em;
                        padding: .5em 1.4em;
                        border-top: 1px solid $white;
                        border-bottom: 1px solid $white;
                        display: block;
                        width: 70%;
                        max-width: 284px;
                    }
                    &-item{
                        font-size: 12px;
                        display: inline-block;
                        margin: 0 4%;
                        background: rgba(255, 255, 255, .1);
                        padding: .4em .7em;
                        span{
                            width: 10px;
                            height: 10px;
                            display: inline-block;
                            vertical-align: middle;
                            background: $black;
                            transform: rotate(45deg);
                            margin-right: 1em;
                        }
                    }
                }
            }
        }
        @include bp('md'){
            .hero-banner-content{
                margin-right: 0;
                position: relative;
                left: 26%;
                transform: translateX(-50%);
                .main-title{
                    padding: 0 .7em 0 0;
                }
                p{
                    font-size: 20px;
                    padding-right: 2em;
                }
            }
            &-chart{
                .hero-banner-container{
                    align-items: center;
                    margin-right: 0;
                    width: 100%;
                    max-width: inherit;
                    .down-arrow{
                        display: inline;
                        position: absolute;
                        left: 23%;
                        transform: translateX(-50%) rotate(-45deg);
                        width: 35px;
                        height: 35px;
                        border-bottom: 3px solid $yellow;
                        border-left: 3px solid $yellow;
                        /* border: solid; */
                        bottom: 14%;
                    }
                }
                .chart-container{
                    left: inherit;
                    transform: none;
                    background-size: cover;
                    width: 70%;
                    padding: 1.4em 4.9em 2.8em;
                    margin-top: -7em;
                    max-width: 50vw;
                    .chart-info{
                        padding-left: 7%;
                        h3{
                            font-size: 18px;
                        }
                        &-item{
                            margin: 0 2%;
                        }
                    }
                }
            }
        }
    }

}

.slider-results{
    .main-container{
        width: 100%;
    }
    .slider{
        &-item{
            flex-direction: column;
            background: $gray;
            padding: 2.8em 1em;
            box-shadow: -10px 10px 20px rgba($black, .3);
            width: 84% !important;
            margin: auto;
            .main-title{
                margin-bottom: .3em;
                min-height: 74px;
            }
        }
        &-score{
            font-size: 49px;
            font-family: $Playfair;
            display: flex;
            justify-content: center;
            height: 50px;
            align-items: flex-end;
            margin-bottom: .5em;
        }
    }
    .slick-slide{
        padding: 1em 0 2.8em;
    }
    @include bp('md'){
        .main-container{
            width: 84%;
        }
        .slider{
            &-item{
                width: 70% !important;
                max-width: 330px;
            }
        }
        .slick-prev{
            left: -6%;
        }
        .slick-next{
            right: -6%;
        }
    }
}

.columns-grid-results{
    background: $gray;
    .main-container{
        padding: 5.6em 0;
        margin: auto;
    }
}