.columns-grid{
    &-item{
        display: flex;
        flex-direction: column;
        text-align: center;
        &:not(:last-child){
            margin-bottom: 3.5em;
        }
        img{
            width: 63%;
            margin: 0 auto;
        }
    }
    @include bp('md'){
        &-container{
            display: flex;
            justify-content: space-around;
        }
        &-item{
            width: 28%;
            img{
                height: 200px;
            }
        }
    }
}