footer{
    background: $black;
    .main-footer{
        width: 84%;
        max-width: 1280px;
        margin: auto;
        padding: 2.8em 0 3.5em;
        text-align: center;
        .main-logo{
            width: 77%;
            max-width: 160px;
        }
        .footerNav{
            margin: 1em 0 2.8em;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid rgba($white, .2);
            &-item{
                color: $white;
                font-size: 12px;
                &:not(:last-child){
                    padding-bottom: 2.8em;
                }
                &:last-child{
                    display: none;
                }
            }
        }
        .footerLogos{
            &-grid{
                display: flex;
                justify-content: space-between;
                margin: 2.8em 0;
                align-items: center;
                .footerLogos-item{
                    width: 28%;
                    position: relative;
                    &:not(:last-child){
                        &::before{
                            content: '';
                            position: absolute;
                            left: 115%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            height: 28px;
                            width: 1px;
                            background: $white;
                        }
                    }
                    &:first-child{
                        display: none;
                    }

                }
                + a{
                    color: $white;
                    font-size: 12px;
                }
            }
        }
        .socialNetworks{
            display: flex;
            justify-content: space-around;
            padding: 0 1em;
            img{
                width: 30px;
            }
        }
        @include bp('md'){
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row-reverse;
            // .main-logo{
            //     width: 100%;
            // }
            .footerNav{
                display: flex;
                margin: 0;
                border-bottom: none;
                &-item{
                    margin-right: 2.4em;
                    padding-right: 2.4em;
                    border-right: 1px solid $white;
                    &:not(:last-child){
                        margin-bottom: 0;
                        padding-bottom: 0;
                    }
                    &:last-child{
                        display: block;
                        border-right: none;
                        margin-right: 0;
                        padding-right: 0;
                    }
                }
            }
            .footerLogos{
                display: flex;
                > img{
                    display: none;
                }
                &-grid{
                    justify-content: flex-start;
                    margin: 0;
                    .footerLogos-item{
                        width: 130px;
                        &:first-child{
                            display: inline-block;
                        }
                        &:not(:last-child){
                            margin-right: 10%;
                            &::before{
                                height: 21px;
                                left: 128%;
                            }
                        }
                    }
                    // justify-content: flex-start;
                    // margin: 0;
                    // img{
                    //     width: 17%;
                    //     padding: 0;
                    //     display: inline-block;
                    //     &:not(:last-child){
                    //         border-right: 1px solid $white;
                    //     }
                    //     &:first-child{
                    //         display: inline-block;
                    //     }
                    //     &:nth-child(3){
                    //         border: none;
                    //         border-right: 1px solid $white;
                    //     }
                    // }
                    + a{
                        display: none;
                    }
                }
            }
            .socialNetworks{
                margin-right: auto;
                a:not(:last-child){
                    margin-right: 1em;
                }
            }
        }
    }
}