header{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 2;
    .main-header{
        display: flex;
        width: 84%;
        max-width: 1280px;
        justify-content: space-between;
        margin: auto;
        padding: 1em 0;
        h1{
            font-size: 0;
            color: transparent;
        }
        .main-logo{
            width: 35%;
            max-width: 200px;
        }
        .second-logo{
            width: 42%;
            max-width: 221px;
            img{
                width: 100%;
            }
        }
        @include bp('md'){
            .main-logo{
                width: 100%;
            }
        }
    }
}

.question-template{
    header{
        .second-logo{
            max-width: 144px;
        }
    }
}