.hero-banner{
    background-color: $gray;
    text-align: center;
    display: inline-block;
    background-image: url('../images/pattern.png');
    &-container{
        width: 87%;
        max-width: 1280px;
        margin: 7em auto 2.8em;
        &--oneColumn{
            .hero-banner-content{
                img{
                    width: 56%;
                }
            }
        }
    }
    p{
        margin: 2.8em auto 2.1em;
        &.big-text{
            font-weight: 500;
        }
        
    }
    .resetPass{
        p.big-text{
            margin-bottom: .7em;
            + p{
                margin-top: 0;
                font-size: 13px;
                text-align: left;
                max-width: 440px;
                div{
                    display: flex;
                    flex-wrap: wrap;
                    span{
                        width: 50%;
                    }
                }
            }
        }
    }
    .main-btn{
        width: 100%;
    }
    @include bp('md'){
        width: 100%;
        &-welcome{
            min-height: 84vh;
        }
        &-container{
            display: flex;
            margin: 7em auto 4.2em;
            justify-content: space-between;
            &--oneColumn{
                flex-direction: column;
                position: relative;
                .hero-banner-content{
                    width: 70%;
                    max-width: 900px;
                    text-align: center;
                    margin: auto;
                    p{
                        font-size: 20px;
                    }
                    .main-title{
                        text-align: center;
                    }
                    .main-btn{
                        margin: auto;
                    }
                    + img{
                        position: absolute;
                        right: 0;
                        top: 10%;
                        max-width: 140px;
                    }
                    &.resetPass{
                        p.big-text{
                            margin-bottom: .7em;
                            + p{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
        &-content{
            text-align: left;
            margin-right: 14%;
            max-width: 452px;
            .main-title{
                text-align: left;
                margin-bottom: .7em;
            }
            p{
                font-size: 18px;
                margin: 0 auto 2.1em;
            }
            .main-btn{
                margin-left: 0;
            }
            + img{
                width: 70%;
            }
        }
    }
}