.modal{
    &-Overlay{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        background-color: rgba($white, .7);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-container{
        width: 91%;
        height: auto;
        margin: auto;
        max-width: 900px;
        position: relative;
        padding: 1.4em 1.4em 4.2em;
        background-color: $white;
        box-shadow: -10px 10px 20px rgba($black, .3);
        .errorMsg{
            color: $magenta;
            font-size: 14px;
        }
        &-form{
            max-width: 600px;
            background-color: $black;
            background-image: url('../images/pattern.png');
            color: $white;
            text-align: center;
            form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 1.4em;
            }
            .main-btn{
                background: $nblue;
                color: $white;
                cursor: pointer;
                width: 100%;
                max-width: 440px;
                padding: 1.4em 0;
                &:hover{
                    background: $white;
                    color: $black;
                }
            }
            .modal-close{
                &::before,
                &::after{
                    background: $gray;
                }
            }
        }
        &-results{
            height: 84vh;
            overflow: scroll;
            .modal{
                &-columns{
                    text-align: center;
                    padding-top: 2.1em;
                    .score{
                        font-size: 42px;
                        font-family: $Playfair;
                        display: flex;
                        justify-content: center;
                        height: 50px;
                        align-items: flex-end;
                        margin-bottom: .5em;
                        font-weight: 600;
                    }
                }
                &-item{
                    p{
                        text-align: left;
                        + button{
                            display: none;
                        }
                    }
                    canvas{
                        + button{
                            margin-top: 2.1em;
                        }
                    }
                }
            }
            @include bp('md'){
                height: auto;
                overflow: inherit;
                .modal{
                    &-columns{
                        text-align: left;
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        .score{
                            justify-content: flex-start;
                        }
                    }
                    &-item{
                        p{
                            + button{
                                display: block;
                                margin: 2.1em 0 0;
                            }
                        }
                        &:first-child{
                            width: 40%;
                            h3{
                                text-align: left;
                            }
                        }
                        &:last-child{
                            width: 49%;
                            button{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    &-close{
        font-size: 0;
        background: transparent;
        box-shadow: none;
        border: none;
        color: transparent;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 4%;
        top: 4%;
        cursor: pointer;
        &::before,
        &::after{
            content: '';
            height: 2px;
            width: 100%;
            position: absolute;
            background: $black;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }
        &::after{
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}