.slider{
    .main-container{
        margin: 5.6em auto 9em;
    }
    &-item{
        text-align: center;
        display: flex !important;
        flex-direction: column-reverse;
        img{
            margin: auto;
        }
    }
    &-content{
        margin-bottom: 2.1em;
    }
    @include bp('md'){
        &-img{
            min-height: 163px;
            display: flex;
        }
    }
    .slick-dots{
        bottom: -4em;
        li button:before{
            font-size: 14px;
            opacity: .7;
            color: $yellow;
        }
        li.slick-active button::before{
            font-size: 21px;
            opacity: 1;
        }
    }
    @include bp('md'){
        .main-container{
            margin: 5.6em auto;
        }
        &-item{
            flex-direction: column;
            padding: 0 12%;
        }
        .slick-slider{
            padding: 0 7em;
        }
        .slick-arrow{
            width: 42px;
            height: 42px;
            border-bottom: 3px solid $yellow;
            border-right: 3px solid $yellow;
            transform: rotate(-45deg);
            top: 42%;
            &.slick-prev{
                transform: rotate(135deg);
            }
        }
    }
}