.two-columns{
    background: $gray;
    display: inline-block;
    width: 100%;
    .main-container{
        margin: 4.2em auto;
    }

    &-item{
        text-align: center;
        margin-bottom: 3.5em;
        img{
            box-shadow: -10px 10px 20px rgba($black, .3);
        }
    }

    .main-btn{
        width: 100%;
    }

    @include bp('md'){
        &-item{
            display: flex;
            justify-content: space-around;
            text-align: left;
            align-items: center;
            &:nth-child(odd){
                flex-direction: row-reverse;
            }
            &:first-of-type{
                margin-top: 5.6em;
            }
            &:last-of-type{
                margin-bottom: 5.6em;
            }
        }
        &-content{
            width: 56%;
            max-width: 570px;
        }
    }
}