.main-btn{
    background: $nblue;
    color: $white;
    text-decoration: none;
    font-family: $Montserrat;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding: 1em 0;
    width: 84%;
    margin: auto;
    border-radius: 2px;
    box-shadow: 0 14px 17px rgba($black, .3);
    transition: all .2s;
    border: 1px solid $nblue;
    cursor: pointer;
    @include bp('md'){
        max-width: 194px;
    }
    &:hover{
        background: $black;
        z-index: 2;
        border-color: $black;
    }
    &--border{
        background: transparent;
        border: 1px solid $black;
        color: $black;
        box-shadow: none;
        &:hover{
            background: $nblue;
            border-color: $nblue;
            color: $white;
            box-shadow: 0 14px 17px rgba($black, .3);
        }
    }
    &--blue{
        background: $nblue;
        border: 1px solid $nblue;
        color: $white;
        &:hover{
            background: transparent;
            border-color: $black;
            box-shadow: none;
            color: $black;
        }
    }
}