form{
    input{
        width: 100%;
        max-width: 440px;
        text-align: center;
        // display: block;
        background: $black;
        border: 1px solid #000;
        color: $gray;
        font-family: $Montserrat;
        font-weight: 500;
        // text-transform: uppercase;
        padding: 1.4em 0;
        outline: none;
        margin-bottom: 2.1em;
        &:not([type='checkbox']){
            box-shadow: 0 14px 17px rgba(0,0,0, .2);
        }
        &::-webkit-input-placeholder {
            color: $gray;
            text-transform: uppercase;
          }
        &::-moz-placeholder {
            color: $gray;
            text-transform: uppercase;
        }
        &:-ms-input-placeholder {
            color: $gray;
            text-transform: uppercase;
        }
        &:-moz-placeholder {
            color: $gray;
            text-transform: uppercase;
        }
    }
    .custom-check{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
        max-width: 440px;
        width: 100%;
        margin-bottom: 2.1rem;
        input{
            display: inline-block;
            width: auto;
            margin: 0 1em 0 0;
            position: absolute;
            width: 17px;
            height: 17px;
            opacity: 0;
        }
        .checkmark{
            width: 17px;
            height: 17px;
            background: $gray;
            display: inline-block;
            border: 1px solid #000;
            margin-right: .7em;
            border-radius: 4px;
        }
        input:checked + .checkmark{
            background: $nblue;
        }
        a{
            text-decoration: underline;
        }
    }
    .forgotPassword{
        text-decoration: underline;
        font-size: 14px;
        position: relative;
        top: -1.4em;
        left: 26%;
    }
    .inputGroup{
        width: 100%;
        max-width: 440px;
        position: relative;
        margin: auto;
        .showPass{
            position: absolute;
            right: 4%;
            top: 35%;
            transform: translateY(-50%);
            background: none;
            border: none;
            width: 24px;
            height: 24px;
            padding: 0;
            cursor: pointer;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            &--dark{
                filter: brightness(.4);
            }
        }
    }
}