.main-title{
    font-family: $Playfair;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    line-height: 1.4;
    margin: 1em auto;
    position: relative;
    z-index: 1;
    &--content{
        display: inline-block;
        font-size: 27px;
        position: relative;
        span::before{
            content: '';
            width: 28px;
            height: 40px;
            background: url('../images/titles-deco.svg') no-repeat;
            background-size: contain;
            position: absolute;
            left: -2.4%;
            top: 0;
            z-index: -1;
        }
        // &::first-letter{
        //     color: $white;
        //     // margin-right: .7%;
        // }
        span{
            position: relative;
        }
        // &.numbers{
        //     span::before{
        //         left: .8em;
        //     }
        // }
    }
    @include bp('md'){
        font-size: 44px;
        line-height: 1.3;
        &--section{
            font-size: 35px;
        }
        &--content{
            font-size: 28px;
            // &::before{
            //     top: 42%;
            // }
        }
    }
}