
// FONT TITLES
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

//FONT BODY TEXT
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');



// $mregular:'Myriad Pro Regular';
// $mbold:'Myriad Pro Bold';


// @mixin fontface($nameFont, $path, $weight){
// 	@font-face {
// 	    font-family: "#{$nameFont}";
// 	    src:    url('../fonts/'+ $path + '/' + $path + '.eot?#iefix') format('embedded-opentype'), 
// 	            //url('../fonts/'+ $path + '.otf') format('opentype'), 
// 	            url('../fonts/'+ $path + '/' + $path + '.woff') format('woff'), 
// 	            url('../fonts/'+ $path + '/' + $path + '.woff2') format('woff2'), 
// 	            url('../fonts/'+ $path + '/' + $path + '.ttf') format('truetype');
// 	    font-weight: $weight;
// 	    font-style: normal;
// 	}
// }
// @include fontface ($mregular, MyriadPro-Regular, normal);
// @include fontface ($mbold, MyriadPro-Bold, bold);