body{
    font-family: $Montserrat;
    font-weight: 300;
    color: $black;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: inherit;
}
button{
    font-size: inherit;
    line-height: inherit;
}
p strong{
    font-weight: 500;
}
.hide-mobile{
    display: none;
    @include bp('md'){
        display: block;
    }
}
.hide-desktop{
    @include bp('md'){
        display: none;
    }
}

.main-container{
    width: 84%;
    max-width: 1280px;
    margin: 5.6em auto;
}