
// COLORS

$black: #2f2f2f;
$white: #fff;
$gray: #F6F6F6;
$gray-dark: #707070;
$magenta: #F92D6C;
$blue: #4049FB;
$dark-blue: #1B3E71;
$green: #8bc53f;

$nblue: #049ACF;
$yellow: #F9EC23;



//FONTS

$Playfair: 'Playfair Display', serif;
$Montserrat: 'Montserrat', sans-serif;
